:root{
    --main-color:#D6B227;
    --second-color:#8C7322;
}


.navbar .nav-link{
    font-size: 14px;
    text-transform:uppercase;
    padding-left:1rem !important;
    padding-right:1rem !important;
}

.nav-item:hover{
    border-bottom:1px solid var(--main-color);   
}

.carousel-item{
    height:450px;
}

.carousel-item > img{
    background-size: cover;
    background-position: center center;
}

#section-home-heading{
    background-image: url(images/bg_1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;    
    height:200px;
}