:root{
    --main-color:#8C7322;
    --second-color:#D6B227 ;
}

.main-color-font{
    color:var(--main-color);
}

.second-color-font{
    color:var(--second-color);
}

.navbar .nav-link{
    font-size: 14px;
    text-transform:uppercase;
    padding-left:1rem !important;
    padding-right:1rem !important;
}

.nav-item:hover{
    border-bottom:1px solid var(--main-color);   
}

.carousel-item{
    height:450px;
}

.carousel-item > img{
    background-size: cover;
    background-position: center center;
}

#section-home-heading{
    background-image: url(images/bg_1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;    
    min-height:200px;
}

#section-contact{
    background: var(--main-color);
}

footer{
    background: #FFFFCC;
}

#section-heading{
    position: relative;
    min-height:300px;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    background-image: url(images/chef.jpg);
}

.dark-overlay{
    position: absolute;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

#section-staff img{
    margin-top:-40px;
    box-shadow: -1px 1px 20px 3px rgba(0,0,0,0.5);
}

